
/FileSync.suo
/FileSyncGui/bin
/FileSyncGui/obj
/FileSyncGuiTest/bin
/FileSyncGuiTest/obj
/FileSyncObjects/bin
/FileSyncObjects/obj
/FileSyncObjectsTest/bin
/FileSyncObjectsTest/obj
/FileSyncWcfService/bin
/FileSyncWcfService/obj
/FileSyncWcfServiceTest/bin
/FileSyncWcfServiceTest/obj
/Resources